@media only screen and (min-width: 769px) and (max-width: 1199px) {

  .seting-r {
    display: none;
  }

  /* left */

  .seting-l {
    width: 35%;
  }
  .seting-l-nav-font {
    font-size: 14pt;
  }
  /* center */
  .seting-c {
    width: 65%;
  }
  
  .seting-privacy-c-info-bodysmail {
    width: 60%;

    left: 20%;
  }
  .seting-privacy-c-info-bodysmail-bottom {
    width: 60%;
  }
  
}
