.seting-l {
  width: 25%;
  height: 100vh;
  float: left;
  box-shadow: 0.5px 1px 1px rgb(136, 144, 151);
}
.seting-l-nav {
  width: 97%;
  height: 9%;
  background-color: white;
  margin-left: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seting-l-nav-font {
  color: black;
  font-size: 16pt;
  font-weight: 600;
}
.seting-l-nav-button-icon {
  font-size: 15pt;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  border-radius: 100%;
  margin-right: 10px;
}
.seting-l-scroll-menuitem-name {
  font-size: 13pt;
  overflow: hidden;
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.seting-l-scroll {
  width: 100%;
  height: 91%;
  background-color: white;
  overflow-y: scroll;
}
#seting-l-scroll-style::-webkit-scrollbar-track {
  border-radius: 10px;
}

#seting-l-scroll-style::-webkit-scrollbar {
  width: 7px;
}

.seting-l-scroll:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  opacity: 0.5;
  background-color: rgb(160, 165, 170);
}
.seting-l-scroll-menuitem {
  text-decoration: none;
  color: black;
  margin-top: 5px;
  width: 97%;
  height: 45px;
  border-top-left-radius: 6px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 11px;
  margin-left: 3%;
  display: flex;
  align-items: center;
  font-size: 14pt;
}
.seting-l-scroll-menuitem:hover {
  background-color: aqua;
}
.seting-l-scroll-menuitem-icon {
  margin-left: 10px;
  font-size: 16pt;
}
.seting-l-scroll-menuitem-name {
  margin-left: 10px;
}

/* settibg/suport */
.seting-l-scroll-support-nav{
  width: 97%;
  padding-left: 10px;
  min-height: 130px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid grey;
  margin-left: 2%;
}
.seting-l-scroll-support-nav-tile{
  font-size: 13pt;
  font-weight: 600;
}
.seting-l-scroll-support-content{
  width: 97%;
  padding-left: 10px;
  min-height: 130px;
  margin-left: 2%;
}